http://www.runoob.com/vue2/vue-class-style.html


<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>Vue绑定相关</title>
<script src="vue_2.6.8.js"></script>
<style> 
	.class1{
		background: #444;
		color: #eee	;
	}
	.myactive{
		width:100px;
		
	}
</style>
</head>
<body>
<div id="vue_div">
	<pre>

1.v-bind与v-model的区别
  1).v-bind是数据绑定，没有双向绑定效果，但不一定在表单元素上使用，任何有效元素上都可以使用；
  2).v-model是双向绑定，基本上只用在表单元素上；
  3).当v-bind和v-model同时用在一个元素上时，它们各自的作用没变，但v-model优先级更高，而且需区分这个元素是单个的还是一组出现的。
2.{{showStrB()}}这种方式的绑定,任何点击事件都会触发该方法。
  
--------------------------------------------------------------
  </pre>
  <label>site:{{ site }}</label> <br/>
  <label>url:{{url}}</label> <br/>
  <label>alexa:{{alexa}}</label><br/>
  
  
  <br/><br/> vue支持表达式:&nbsp;&nbsp;&nbsp;
  <label>2+5={{2+5}}</label> &nbsp&nbsp&nbsp
  <label>三元运算{{'1'?'YES':'NO'}}</label>  &nbsp&nbsp&nbsp
  <label>支持函数:{{site.split('').reverse().join('')}}</label> &nbsp&nbsp&nbsp
  
  
  <br/><br/> v-html模板绑定:&nbsp;&nbsp;&nbsp;
  <label v-html='htmlvalue'></label>
  
  
  <br/><br/> v-bind:绑定属性(v-bind:class简写为:class):&nbsp;&nbsp;&nbsp;
  <label for="r1">绑定class</label><input type="checkbox" v-model="us" id="r1"/>
  <label v-bind:class="{'class1':us}">v-bind指定</label>&nbsp;&nbsp;&nbsp;
  <label v-bind:id="'list-'+id">v-bind绑定ID</label>&nbsp;&nbsp;&nbsp;
	<a v-bind:href="url">v-bind绑定href</a>
  
  
  <br/><br/> v-if控制显示隐藏(以及if-else的使用):&nbsp;&nbsp;&nbsp;
  <label>显示文本</label><input type="checkbox" v-model='see'/>
  <label	v-if="see">v-if的使用</label>&nbsp;&nbsp;&nbsp;
  <button @click="testIf">摇色子</button>
  <label v-if="randNum < 0.5">小</label>
  <label v-else>大</label>&nbsp;&nbsp;&nbsp;
  <input v-model="fruit"/>
  <label v-if="fruit=='A'">苹果</label>
  <label v-else-if="fruit=='B'">西瓜</label>
  <label v-else>其它水果</label>
  
  
  <br/><br/> v-show也能控制显示隐藏:&nbsp;&nbsp;&nbsp;
  <button @click="showFun">显示开关</button>
  <label v-show="show">v-show</label>
 
 
  <!-- 表单值改变引起data的值改变 -->
  <br/><br/> v-model双向绑定:&nbsp;&nbsp;&nbsp;
  <label>{{inputvalue}}</label><input v-model="inputvalue"></input>
  	
  	
  <br/><br/> v-on绑定事件(v-on:click简写为@click):&nbsp;&nbsp;&nbsp
  <button v-on:click="reverseStr">反转字符串</button>
  <label>{{site}}</label>
  
  
  <!-- 相当于linux的管道符，第一个作为参数传递给第二个函数-->
  <br/><br/> filters过滤器:&nbsp;&nbsp;&nbsp; 	
  <label>{{url|firstUpper}}</label>&nbsp;&nbsp;&nbsp; 	
  <label>{{url|firstUpper|lastUpper}}</label>&nbsp;&nbsp;&nbsp; 	
  <label>{{url|urlAppend('http',5+13)}}</label>&nbsp;&nbsp;&nbsp; 	
  
  
  <br/><br/> v-for循环指令:&nbsp;&nbsp;&nbsp; 	
  <label v-for="(add,index) in address">
    {{index}}:{{add.name}}
  </label>&nbsp;&nbsp;&nbsp; 
  <label v-for="ke in fruit">
   {{ke}}
  </label>&nbsp;&nbsp;&nbsp; 
   <label v-for="(va,ke,index) in fruit">
  	 {{index}}:{{ke}}:{{va}}
  </label>>&nbsp;&nbsp;&nbsp;
   <label v-for="n in 10">
  	 {{n}}
  </label> 
  
  <br/><br/> computed计算指令(和methods效果一样[需要加括号]，computed是基于缓存的,methods不是):&nbsp;&nbsp;&nbsp; 
 	<label>原值:{{site}}</label>&nbsp;&nbsp;&nbsp;
 	<label>使用computed后:{{reverseSite}}</label>&nbsp;&nbsp;&nbsp;
 	<br/> computed的get和set方法&nbsp;&nbsp;&nbsp;
 	<label>{{computedString}}</label>
 	<br/> 验证computed是基于缓存的(可以交换下面代码的顺序)&nbsp;&nbsp;&nbsp;
 	<label>1methods:{{showStrB()}}</label>&nbsp;&nbsp;&nbsp;
 	<label>2methods:{{showStrB()}}</label>&nbsp;&nbsp;&nbsp;
 	<label>3methods:{{showStrB()}}</label>&nbsp;&nbsp;&nbsp;
 	<label>1computed:{{showStrA}}</label>&nbsp;&nbsp;&nbsp;
 	<label>2computed:{{showStrA}}</label>&nbsp;&nbsp;&nbsp;
 	<label>3computed{{showStrA}}</label>&nbsp;&nbsp;&nbsp;
 
 	
	<br/><br/>$watch监听:&nbsp;&nbsp;&nbsp;
	<button @click="mycount++" >点击</button>
	<label>{{mycount}}</label>
	<br/>watch监听:&nbsp;&nbsp;&nbsp;
	<label>单位换算(wath指令)</label>
	千米:<input v-model="kilometer"/>&nbsp;&nbsp;
	米:<input v-model="meter"/>

</div>

<script type="text/javascript">
var cn=0
var dataA = {
	site: 'vue教程',
	url: 'www.xxx.com',
	alexa: 1000,
	htmlvalue: '<a>绑定html模板值</a>',
	us:false,
	id:2,
	see:false,
	url:"www.baidu.com",
	inputvalue:"",
	randNum:0,
	fruit:'A',
	show:false,
	address:[
		{name:'成都'},
		{name:'深圳'},
		{name:'北京'}
	],
	fruit:{
		"A":"苹果",
		"B":"梨子",
		"C":"西瓜"
	},
	computedStr:"ABCD",
	mycount:0,
	kilometer:0,
	meter:0
}

var vm = new Vue({
		el:'#vue_div',
		data:dataA,
		methods:{
			reverseStr:function(){
				 this.site = this.site.split('').reverse().join('');	
			},
			testIf:function(){
				this.randNum = Math.random();
			},
			showFun:function(){
				console.log(1)
				this.show = !this.show;
			},
			showStrB:function(){
				return cn++;
			}
		},
		filters:{
			firstUpper:function(value){
				if(!value) return '';
				value = value.toString();
				return value.charAt(0).toUpperCase()+value.slice(1)	
			},	
			lastUpper: function(value){
				if(!value) return '';	
				value = value.toString();
				return value.slice(0,value.length-1)+value.charAt(value.length-1).toUpperCase();
			},
			urlAppend: function(v1,v2,v3){
				return v2+'://'+v1+'?a='+v3;
			}
		},
		computed:{
			reverseSite:function(){
				 return this.site.split('').reverse().join('');
			},
			showStrA:function(){
					return cn++;
			},
			computedString:{
				get:function(){
						return this.computedStr;
				},
				set:function(newValue){
					this.computedStr = newValue;
				}
				
			}
		},
		watch:{
			kilometer:function(value){
				this.meter = value*1000;
			},
			meter:function(value){
				this.kilometer = value/1000;
			}
		}
})

<!-- watch监听-->
vm.$watch('mycount',function(newValue,oldValue){
	alert('计数器的值'+oldValue+'变成了'+newValue);	
})
<!-- 仅仅监听kilometer -->
vm.$watch('kilometer',function(newV,oldV){
		alert("新值："+newV+", 旧值:"+oldV);
})

document.write('<br/>--------通过document方式写入的文本--------<br/>');
document.write((dataA.sute === vm.site) + '<br/>');
dataA.alexa = 1234;
document.write(vm.alexa + '<br>');
document.write(vm.$el === document.getElementById('vue_div'));

//调用computed的set方法
vm.computedString = "AAAAAAA";

</script>
</body>
</html>